$grayScale-1000: #000000;
$grayScale-900: #202020;
$grayScale-800: #3F3F3F;
$grayScale-700: #5F5F5F;
$grayScale-600: #7E7E7E;
$grayScale-500: #9E9E9E;
$grayScale-400: #B1B1B1;
$grayScale-300: #C5C5C5;
$grayScale-200: #D8D8D8;
$grayScale-100: #ECECEC;
$grayScale-50: #F5F5F5;
$grayScale-0: #FFFFFF;

$primary-1000: #0A65E4;
$primary-900: #2375E7;
$primary-800: #3B84E9;
$primary-700: #5494ED;
$primary-600: #6CA3EF;
$primary-500: #84B1F1;
$primary-400: #9DC1F4;
$primary-300: #B6D1F7;
$primary-200: #CEE0FA;
$primary-100: #E7F0FD;

$secondary-1000: #140F36;
$secondary-900: #2C274A;
$secondary-800: #433F5E;
$secondary-700: #5B5772;
$secondary-600: #726F86;
$secondary-500: #89879B;
$secondary-400: #A19FAF;
$secondary-300: #B9B7C3;
$secondary-200: #D0CFD7;
$secondary-100: #E7E7EB;

$skyBlue-1000: #BEE5FF;
$skyBlue-900: #C5E8FF;
$skyBlue-800: #CBEAFF;
$skyBlue-700: #D2EDFF;
$skyBlue-600: #D8EFFF;
$skyBlue-500: #DFF2FF;
$skyBlue-400: #E5F5FF;
$skyBlue-300: #ECF7FF;
$skyBlue-200: #F2FAFF;
$skyBlue-100: #F9FCFF;

$warning-1000: #792E0D;
$warning-900: #93370D;
$warning-800: #B54708;
$warning-700: #DC6803;
$warning-600: #F79009;
$warning-500: #FDB022;
$warning-400: #FEC84B;
$warning-300: #FEDF89;
$warning-200: #FEF0C7;
$warning-100: #FFFAEB;
$warning-50: #FFFCF5;

$success-1000: #054F31;
$success-900: #05603A;
$success-800: #027A48;
$success-700: #039855;
$success-600: #12B76A;
$success-500: #32D583;
$success-400: #6CE9A6;
$success-300: #A6F4C5;
$success-200: #D1FADF;
$success-100: #ECFDF3;
$success-50: #F6FEF9;

$error-1000: #7A271A;
$error-900: #912018;
$error-800: #B42318;
$error-700: #D92D20;
$error-600: #F04438;
$error-500: #F97066;
$error-400: #FDA29B;
$error-300: #FECDCA;
$error-200: #FEE4E2;
$error-100: #FEF3F2;
$error-50: #FFFBFA;

$round-0: 0px;
$round-2: 2px;
$round-4: 4px;
$round-6: 6px;
$round-8: 8px;
$round-10: 10px;
$round-12: 12px;
$round-14: 14px;
$round-16: 16px;
$round-18: 18px;
$round-20: 20px;
$round-22: 22px;
$round-24: 24px;
$round-26: 26px;
$round-28: 28px;
$round-30: 30px;
$round-32: 32px;
$round-34: 34px;
$round-36: 36px;
$round-40: 40px;
$round-50: 50px;
$round-60: 60px;

$gap-0: 0px;
$gap-2: 2px;
$gap-4: 4px;
$gap-6: 6px;
$gap-8: 8px;
$gap-10: 10px;
$gap-12: 12px;
$gap-14: 14px;
$gap-16: 16px;
$gap-18: 18px;
$gap-20: 20px;
$gap-22: 22px;
$gap-24: 24px;
$gap-26: 26px;
$gap-28: 28px;
$gap-30: 30px;
$gap-32: 32px;
$gap-34: 34px;
$gap-36: 36px;
$gap-40: 40px;
$gap-50: 50px;
$gap-60: 60px;
$gap-70: 70px;
$gap-80: 80px;
$gap-90: 90px;
$gap-100: 100px;
$gap-110: 110px;
$gap-120: 120px;
$gap-130: 130px;
$gap-140: 140px;
$gap-150: 150px;


